<IfModule mod_rewrite.c> <!-- exécute ce code que si le module rewrite est actif (=module d'Apache qui permet de transformer les URLs)-->
    Options -MultiViews <!-- désactive la fonctionnalité de MultiViews d'Apache (qui peut causer des problèmes de routage) -->
    RewriteEngine On <!-- active le module de réécriture d'URLs -->

    RewriteCond %{REQUEST_FILENAME} !-f <!-- vérifie que la requête n'est pas pour un fichier existant -->
    RewriteCond %{REQUEST_FILENAME} !-d <!-- vérifie que la requête n'est pas pour un répertoire existant -->
    RewriteRule ^ index.php [QSA,L] <!-- redirige toutes les autres requêtes vers index.php, en conservant les paramètres de la requête (QSA) et en indiquant que c'est la dernière règle à appliquer (L) -->
</IfModule>

<!-- Sécurité basique, pour bloquer l'accès aux fichiers cachés (=commençant par un point) -->
<FilesMatch "^\.">
    Require all denied
</FilesMatch>